html,
body {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans Narrow', sans-serif;
}
header {
  background: #343d46;
}
header .top-nav {
  margin: 0;
  padding: 0;
  color: #fff;
  list-style-type: none;
}
header .top-nav li {
  display: inline;
  margin: 0 20px 0 0;
}
header .search-box {
  margin: 0;
  width: 300px;
  height: 50px;
  float: right;
}
header .container-1 {
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}
header .container-1 input#search {
  width: 300px;
  height: 50px;
  background: #2b303b;
  border: none;
  font-size: 10pt;
  float: left;
  color: #63717f;
  padding-left: 45px;
  -webkit-transition: background .55s ease;
  -moz-transition: background .55s ease;
  -ms-transition: background .55s ease;
  -o-transition: background .55s ease;
  transition: background .55s ease;
}
header .container-1 input#search:hover,
header .container-1 .container-1 input#search:focus,
header .container-1 .container-1 input#search:active {
  outline: none;
  background: #ffffff;
}
header .container-1 .icon {
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: #4f5b66;
}
header .container-1 input#search::-webkit-input-placeholder {
  color: #65737e;
}
header .container-1 input#search::-moz-placeholder {
  /* Firefox 19+ */
  color: #65737e;
}
header .container-1 input#search:-ms-input-placeholder {
  color: #65737e;
}
.wrapper {
  clear: both;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}
.playlist {
  /*float: left;
   width: 25%;
   padding-bottom: 25%;
   background-size: cover;
   background-repeat: no-repeat;
   color: #FFF;
   position: relative;
   display: table-cell;
   vertical-align: middle;*/
  width: 300px;
  height: 250px;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 200px;
  /*&:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
    opacity: .6; */
  /*.innerContent {
   text-align: center;
   position: absolute;
   right: 40%;
   top: 35%;
   font-family: 'Oxygen', sans-serif;
  }*/
}
.rock {
  background-image: url(../img/rock.jpg);
}
.rap {
  background-image: url(../img/rap.jpg);
}
.ambient {
  background-image: url(../img/ambient.jpg);
}
.country {
  background-image: url(../img/country.jpg);
}
.classical {
  background-image: url(../img/classic.jpg);
}
.metal {
  background-image: url(../img/metal.jpg);
}
.jazz {
  background-image: url(../img/jazz.jpg);
}
.indie {
  background-image: url(../img/indie.jpg);
}
.favClass {
  color: blue;
}
