body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans Narrow', sans-serif;
  background: #343d46;
}
a:link {
  color: #ccc;
  text-decoration: none;
}
a:visited {
  color: #ccc;
  text-decoration: none;
}
header {
  width: 96%;
  max-width: 920px;
  margin: auto;
  padding: 2%;
}
header nav img {
  height: 75px;
  float: left;
}
header .top-nav {
  font-family: 'Oxygen', sans-serif;
  float: left;
  margin: 20px 0 0 15px;
  padding: 0;
  color: #ccc;
  list-style-type: none;
}
header .top-nav li {
  display: inline;
  margin: 0 20px 0 0;
}
header .search-box {
  margin: 15px 0 0 0;
  height: 50px;
  float: right;
}
header .container-1 {
  width: 33%;
  vertical-align: right;
  white-space: nowrap;
  position: relative;
}
header .container-1 input#search {
  width: 300px;
  height: 50px;
  background-color: #101010;
  border: none;
  font-size: 10pt;
  float: left;
  color: #ccc;
  padding-left: 45px;
  -webkit-transition: background .55s ease;
  -moz-transition: background .55s ease;
  -ms-transition: background .55s ease;
  -o-transition: background .55s ease;
  transition: background .55s ease;
}
header .container-1 input#search:hover,
header .container-1 .container-1 input#search:focus,
header .container-1 .container-1 input#search:active {
  outline: none;
  background: #ffffff;
}
header .container-1 .icon {
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: #ccc;
}
header .container-1 input#search::-webkit-input-placeholder {
  color: #65737e;
}
header .container-1 input#search::-moz-placeholder {
  color: #65737e;
}
header .container-1 input#search:-ms-input-placeholder {
  color: #65737e;
}
.wrapper {
  clear: both;
  width: 96%;
  max-width: 920px;
  margin: auto;
  padding: 2%;
}
.playlist {
  float: left;
  width: 25%;
  padding-bottom: 25%;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ccc;
  position: relative;
}
.playlist:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom right, #002f4b, #dc4225);
  opacity: .6;
}
.playlist h2 {
  top: 30%;
  right: 40%;
  position: absolute;
  text-align: center;
  font-size: 1.3rem;
  font-family: 'Oxygen', sans-serif;
}
.rock {
  background-image: url(../img/rock.jpg);
}
.rap {
  background-image: url(../img/rap.jpg);
}
.ambient {
  background-image: url(../img/ambient.jpg);
}
.country {
  background-image: url(../img/country.jpg);
}
.classical {
  background-image: url(../img/classic.jpg);
}
.metal {
  background-image: url(../img/metal.jpg);
}
.jazz {
  background-image: url(../img/jazz.jpg);
}
.indie {
  background-image: url(../img/indie.jpg);
}
.favClass {
  color: blue;
}
.tracks {
  background-color: #101010;
  width: 100%;
  color: #ccc;
  font-family: 'PT Sans Narrow', sans-serif;
}
.tracks .track-box {
  border-bottom: 1px solid #4e4e4e;
  -webkit-box-sizing: border-box;
  /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
  -moz-box-sizing: border-box;
  /* Firefox 1 - 28 */
  box-sizing: border-box;
  padding: 20px;
  height: 140px;
}
.tracks .track-box .artwork {
  float: left;
}
.tracks .track-box .artwork img {
  width: 100px;
  height: auto;
  margin-right: 20px;
}
.tracks .track-box .play {
  float: right;
}
.tracks .track-box .play .fa-play-circle {
  font-size: 4em;
}
.tracks .track-box .genre {
  font-size: 1em;
}
.tracks .track-box .title {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  float: left;
  margin: 0;
  padding: 0;
}
.tracks .track-box .favs {
  float: left;
  margin-left: 25px;
  margin-top: 10px;
}
