<nav>
  <img src="img/mix-tape-logo.svg">
  <ul class="top-nav">
    <li>
      <a href="/" data-name="home">All Playlists</a>
    </li>
    <li>
    |
    </li>
    <li>
      <a href="/favorites" data-name="favs">Your Favorites</a>
    </li>
  </ul>
</nav>
<div class="search-box">
  <div class="container-1">
    <span class="icon"><i class="fa fa-search"></i></span>
    <input type="search" id="search" placeholder="Search..." />
  </div>
</div>