<!-- box -->
    <div class="playlist">
      <a href="#" data-genre="rock">
        <div class="innerContent">
            <h2>Rock</h2>
        </div>
      </a>
    </div>
   <!-- box -->
   <!-- box -->
    <div class="playlist">
      <a href="#" data-genre="rap">
       <div class="innerContent">
           <h2>Rap</h2>
       </div>
      </a>
    </div>
   <!-- box -->
   <!-- box -->
    <div class="playlist">
      <a href="#" data-genre="ambient">
       <div class="innerContent">
           <h2>Ambient</h2>
       </div>
      </a>
    </div>
   <!-- box -->
   <!-- box -->
    <div class="playlist">
      <a href="#" data-genre="country">
       <div class="innerContent">
           <h2>Country</h2>
       </div>
      </a>
    </div>
   <!-- box -->
   <!-- box -->
    <div class="playlist">
      <a href="#" data-genre="classical">
       <div class="innerContent">
           <h2>Classical</h2>
       </div>
      </a>
    </div>
   <!-- box -->
   <!-- box -->
    <div class="playlist">
      <a href="#" data-genre="Metal">
       <div class="innerContent">
           <h2>Metal</h2>
       </div>
      </a>
    </div>
   <!-- box -->
   <!-- box -->
    <div class="playlist">
      <a href="#" data-genre="jazz">
       <div class="innerContent">
           <h2>Jazz</h2>
       </div>
      </a>
    </div>
   <!-- box -->
   <!-- box -->
    <div class="playlist">
      <a href="#" data-genre="indie">
       <div class="innerContent">
           <h2>Indie</h2>
       </div>
      </a>
    </div>
   <!-- box -->