<!-- box -->
<div class="link-box">
  <a href="#" data-genre="rock">
    <div class="playlist rock">
      <h2>Rock</h2>
    </div>
  </a>
</div>
<!-- box --> 
<div class="link-box">
  <a href="#" data-genre="rap">
    <div class="playlist rap">
      <h2>Rap</h2>
    </div>
  </a>
</div>
<!-- box -->
<div class="link-box">
  <a href="#" data-genre= "ambient">
    <div class="playlist ambient">
      <h2>Ambient</h2>
    </div>
  </a>
</div>
<!-- box -->
<div class="link-box">
  <a href="#" data-genre="country">
    <div class="playlist country">
      <h2>Country</h2>
    </div>
  </a>
</div>
<!-- box -->
<div class="link-box">
  <a href="#" data-genre="classical">
    <div class="playlist classical">
      <h2>Classical</h2>
    </div>
  </a>
</div>
<!-- box -->
<div class="link-box">
  <a href="#" data-genre="Metal">
    <div class="dark playlist metal">
      <h2>Metal</h2>
    </div>
  </a>
</div>
<!-- box -->
<div class="link-box">
  <a href="#" data-genre="jazz">
    <div class="playlist jazz">
      <h2>Jazz</h2>
    </div>
  </a>
</div>
<!-- box -->
<div class="link-box">
  <a href="#" data-genre="indie">
    <div class="playlist indie">
      <h2>Indie</h2>
    </div>
  </a>
</div>
<!-- box -->