<!-- box -->
    <div class="playlist">
       <div class="innerContent" data-name="rock">
           <h2>Rock</h2>
       </div>
    </div>
   <!-- box -->
   <!-- box -->
    <div class="playlist">
       <div class="innerContent" data-name="rock">
           <h2>Rap</h2>
       </div>
    </div>
   <!-- box -->
   <!-- box -->
    <div class="playlist">
       <div class="innerContent" data-name="rock">
           <h2>Ambient</h2>
       </div>
    </div>
   <!-- box -->
   <!-- box -->
    <div class="playlist">
       <div class="innerContent" data-name="rock">
           <h2>Country</h2>
       </div>
    </div>
   <!-- box -->
   <!-- box -->
    <div class="playlist">
       <div class="innerContent" data-name="rock">
           <h2>Classical</h2>
       </div>
    </div>
   <!-- box -->
   <!-- box -->
    <div class="playlist">
       <div class="innerContent" data-name="rock">
           <h2>Metal</h2>
       </div>
    </div>
   <!-- box -->
   <!-- box -->
    <div class="playlist">
       <div class="innerContent" data-name="rock">
           <h2>Jazz</h2>
       </div>
    </div>
   <!-- box -->
   <!-- box -->
    <div class="playlist">
       <div class="innerContent" data-name="rock">
           <h2>Indie</h2>
       </div>
    </div>
   <!-- box -->